/MultiCommTerminal/bin/*
/BluetoothClassic/obj/*
/BluetoothLE/obj/*
/BluetoothLE.Win32/bin/*
/BluetoothClassic/bin/*
/BluetoothLE.Win32/obj/*
/BluetoothCommon.Net/bin/*
/BluetoothLE/bin/*
/AurelienRibon.Ui.SyntaxHighlightBox/obj/*
/MultiCommWrapper/bin/Release/*
/MultiCommWrapper/obj/*
/BluetoothRfComm.Win32/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
/BluetoothLE.UWP.Core/obj/*
/BluetoothLE.UWP.Core/bin/*
/BluetoothLE.UWP.Core/bin/Debug/netcoreapp3.1/BluetoothLE.UWP.Core.deps.json
/BluetoothRfComm.Win32.Core/bin/*
/BluetoothLE.UWP.Core/obj/*
/BluetoothRfComm.Win32.Core/obj/*
/Wifi.UWP.Core/bin/*
/Wifi.UWP.Core/obj/*
/MultiCommTerminal.MSIX/bin/*
/MultiCommTerminal.MSIX/obj/*
/MultiCommWrapper/bin/*
/Serial.UWP.Core/bin/*
/Serial.UWP.Core/obj/*
/MultiCommTerminal.MSIX/AppPackages/*
/Ethernet.UWP.Core/obj/*
/Ethernet.UWP.Core/bin/*
/Communications.AndroidXamarin/obj/*
/MultiCommTerminal.AndroidXamarin/bin/*
/MultiCommTerminal.AndroidXamarin/obj/*
/Wifi.AndroidXamarin/obj/*
