/MultiCommTerminal/bin/*
/BluetoothClassic/obj/*
/BluetoothLE/obj/*
/BluetoothLE.Win32/bin/*
/BluetoothClassic/bin/*
/BluetoothLE.Win32/obj/*
/BluetoothCommon.Net/bin/*
/BluetoothLE/bin/*
/AurelienRibon.Ui.SyntaxHighlightBox/obj/*
/MultiCommWrapper/bin/Release/*
/MultiCommWrapper/obj/*
